/* Custom Classes retained */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  position: relative;
  border-bottom: 1px solid white;
}

.logo {
  font-size: 25px;
  transition: opacity 0.3s;
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: lightskyblue;
  color: #000;
}

.active {
  background: lightskyblue;
  color: #000;
}

.icon,
.link_text {
  font-size: 18px;
  cursor: pointer;
}

.explore {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  transition: all 0.3s;
  background-color: #292626;
  border-radius: 12px;
  overflow: hidden;
}

.explore .icon,
.exploree .icon {
  font-size: 18px;
  margin-right: 10px;
}
